.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #004d40;
    padding-top: 1rem;
    transition: all 0.3s;
    z-index: 1000;
  }
  
  .profile-pic-wrapper {
    text-align: center;
    padding: 30px;
  }
  
  .sidebar .profile-pic {
    width: 180px;
    height: 180px;
    border: 5px solid #00695c;
    border-radius: 50%;
  }

  .profile-image-wrapper {
    text-align: center;
  }
  
  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3px;
  }
  
  .sidebar .nav-link {
    color: #f8f9fa;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 20px;
  }

  .sidebar .nav-link:hover {
    background-color: #00695c;
  }
  
  .sidebar .nav-link i {
    margin-right: 1rem;
  }
  
  #main-content {
    transition: margin-left .3s;
  }
  
  
  
  #sidebar-toggle {
    display: none;
    z-index: 1002;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .overlay.show {
    display: block;
  }
  
  @media (max-width: 992px) {
    .sidebar {
      left: -300px;
    }
  
    .sidebar.show {
      left: 0;
    }
  
    #main-content.shifted {
      margin-left: 0;
    }
  
    #sidebar-toggle {
      display: block;
      position: fixed;
      top: 15px;
      left: 15px;
    }
  }
  